

body{
    height: 100vh;
}

main{
    display: grid;
    grid-template-columns: 90px 1fr;
    height: 100vh;

}

header{
    display: grid;
    grid-template-rows:  90px 1fr;
}

#btnMenu{
    background-color: #0f0f0f;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
#redesSocias{
    padding: 250% 0%;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}

.informacoes {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    border-radius: 15px;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}
.divInfo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.divInfo h2 {
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 2%;
}

.textoCinza {
    color: rgba(0, 0, 0, 0.42);
    font-weight: 400;
}


#check { position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
width: 30px;
z-index: 99;
height: 30px;
opacity: 0;
}

aside { position: fixed;
width: 270px;
height: 100vh;
background-color: white;
top: 0;
transition: 0.4s;
left: -270px;
text-decoration: none;
color: #b2b2b2;}

#check:checked~aside { left: 0;}

.menuu{
    font-weight: 600;
    color: #b2b2b2;
    text-decoration: none;
}
